<p>
  <mat-toolbar color="primary">
    <img src="\assets\churros.png" alt="logo">
    <h1>Onde posso encontrar Churros?</h1>
  </mat-toolbar>
</p>

<div class="container">
  <div class="title">
    <h2>Pontos de venda cadastrados</h2>
    <ul>
      <li *ngFor="let fomulario of formularios">{{ fomulario.nome }} |
        {{ fomulario.endereco }}, {{ fomulario.municipio }} - {{ fomulario.estado }} |
        Horário: {{ fomulario.horaInicio }} - {{ fomulario.horaFinal }}
      </li>
    </ul>
  </div>

  <div class="cadastro">
    <img src="\assets\churros2.png" alt="icon">
    <h2>Cadastre um novo ponto de venda</h2>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="create()">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome Fantasia</mat-label>
      <input type="text" matInput formControlName="nome">
    </mat-form-field>

    <div class="selectors">
      <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="estado" #estado (valueChange)="setMunicipio(estado.value)">
          <mat-option *ngFor="let estado of estados" [value]="estado.sigla">
            {{estado.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cidade</mat-label>
        <mat-select formControlName="municipio">
          <mat-option *ngFor="let municipio of municipios" [value]="municipio.nome">
            {{ municipio.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Ponto de venda</mat-label>
      <input type="text" matInput formControlName="endereco">
    </mat-form-field>

    <div class="time">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Começa às</mat-label>
        <input type="time" matInput formControlName="horaInicio">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Termina às</mat-label>
        <input type="time" matInput formControlName="horaFinal">
      </mat-form-field>
    </div>

    <button type="submit" mat-raised-button color="primary" class="btn">Cadastrar</button>
  </form>

</div>
