@use '@angular/material' as mat;

@include mat.core();

$app_vendas-primary: mat.define-palette(mat.$orange-palette, 600);
$app_vendas-accent: mat.define-palette(mat.$gray-palette, 100);

$app_vendas-warn: mat.define-palette(mat.$red-palette);

$app_vendas-theme: mat.define-light-theme((
  color: (
    primary: $app_vendas-primary,
    accent: $app_vendas-accent,
    warn: $app_vendas-warn,
  )
));

@include mat.all-component-themes($app_vendas-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: clamp(300px, 100%, 1200px);
  margin: 50px auto 0 auto;
  padding: 0 30px;
}

.full-width {
  width: 100%;
}
